
nav{
    display: inline-block;
    position: relative;
    left: 250px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 8, 8);
}
li {
    float: left;
    display: flex;
    flex-direction: row;
    padding: 4px;
  }
  div{
    display: inline-block;
    position: absolute;
    left: 290px;

  }
  img{
    padding-left: 20px;
  }
a{
    color: rgb(245, 240, 240);
    text-decoration: none;
}
h1{
    text-align: center;
}

